MINIO_ENDPOINT=http://localhost:9000
MINIO_ENDPOINT_DOCKER=http://minio:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
BUCKET_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
AIRFLOW__CORE__EXECUTOR=
AIRFLOW__CORE__LOAD_EXAMPLES=